{% extends 'base.html.twig' %}
{% block title %} exploring symfony 4 {% endblock %}

{% block main %}
    {#<a href="{{ path('hello_page/{name}') }}">Go to hello Page</a><br>#}
    <a href="{{ path('contact') }}">Contact us</a>
{% endblock %}